<% @results.each do |result| %>
<h1><%= result[0] %><br /></h1>
<% result[1].each do |key,value| %>
<%= key %><br />
<%= value %><br />
<br />
<% end %>
<% end %>

<%= link_to 'Listings', events_index_path %>
<%= link_to 'List of uploads', uploads_path %>
<%= link_to 'New upload', new_upload_path %>
