<%= form_with scope: :artist, url: uploads_path, local: true do |form| %>
  <p>
    <%= form.label :artist_name %><br>
    <%= form.text_field :artist_name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Listings', listings_index_path %>
<%= link_to 'List of uploads', uploads_path %>
