<p>
  <strong>Artist:</strong>
  <%= @upload.artist %>
</p>

<p>
  <strong>Url:</strong>
  <%= @upload.url %>
</p>
<%= @render %>

<%= link_to 'Listings', events_index_path %>
<%= link_to 'List of uploads', uploads_path %>
