<!DOCTYPE html>
<html>
  <head>
    <title>EventLister</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a><%= link_to "Home", homepage_index_path %></a>
      <a><%= link_to "Listings", listings_index_path%></a>
      <a><%= link_to "Add", new_artist_path %></a>
      <a><%= link_to "Edit", artists_path %></a>
    </div>
    
    <div id="main">
        <div class="menu-button">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
        </div>
        <div class="centered-content">
          <div class="page-title">
            <%= content_for?(:title) ? yield(:title) : 'Personalised Event Lister' %>
          </div>
          <div class="main-content">
            <%= yield %>
          </div>
        </div>
    </div>


  </body>
</html>
